html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background: linear-gradient(0deg, #d42020, #f1e206, #29d523, #01e6d2, #1357d6, #c613d6, #d42020);
	background-size: 800% 800%;
	animation: gradient 2s ease infinite;
	height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}

main > img {
    flex: 0 1 200px;
    justify-self: center;
    align-self: center;
}

@keyframes gradient {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 0 50%;
	}
	100% {
		background-position: 0 100%;
	}
}